/* CSS Document */ 
/*---------------------------------------------------
* Nombre del proyecto: 				PYRO CMS
* Nombre del archivo: 				style.css
* Descripción:						Hoja de estilos global
* Fecha de creación:				06 de Agosto de 2014 
* Autor:							Fabián Andrés
---------------------------------------------------*/
/*
|-----------------------------------------------------------------------------
| GENERAL
|-----------------------------------------------------------------------------
*/ 
body{
    background-color: #f3f5f8;
    color: #333;
	font-size: 14px;
    font-family: 'ralewayregular';
    overflow-x: hidden; 
}
.m0{
    margin: 0;
}
.mtop10{
    margin-top: 10px;
}
.mtop20{
    margin-top: 20px;
}
.mtop25{
    margin-top: 20px;
}
.mtop30{
    margin-top: 30px;
}
.mtop40{
    margin-top: 40px;
}
.mtop50{
    margin-top: 50px;
}
.mtop60{
    margin-top: 60px;
}
.mtop70{
    margin-top: 70px;
}
.scrollup{
    background: url(../img/icon_top.png) no-repeat 0 0 #000;
    bottom: 0px;
    display: none;
    height: 36px;
    opacity: 0.5;
    position: fixed;
    right: 0px;
    width: 42px;
    z-index: 9999;
}
.alert-success{
    bottom: 0;
    margin-bottom: 10px;
    right: 10px;
    position: fixed;
    z-index: 10;
}
.shadow, .gravatar{
    border: 1px solid #eee;
    -webkit-box-shadow: 0 0 5px 0.5px rgba(0,0,0,0.2);
    box-shadow: 0 0 5px 0.5px rgba(0,0,0,0.2);
}
.dib{
    display: inline-block;
}
.form-control:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, select:focus{
    border-color: #ACACAC;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(160, 160, 160, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(160, 160, 160, 0.6);
}
.btn-absolute{
    right: 15px;
    top: 17px;
    position: absolute;
}
.transition, .list-group-item{
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}
.flexslider.detail{
    margin: 5px 0 13px;
}
.flexslider.detail .flex-control-nav{
    bottom: 0;
}
.flexslider.detail .flex-direction-nav a:before {
    font-size: 30px;
    margin-top: 0;
}
.clear{
    clear: both;
}
/*Prod and Services */
.article__inner {
    position: relative;
    height: 200px;
    overflow: hidden;
    border-bottom: 1px solid rgba(51, 51, 51, 0.07);
}
.article {
    width: 100%;
    overflow: hidden;
    margin: 20px auto;
    background: white;
    border-bottom: 1px solid lightgray;
    border-radius: 3px;
}
.article__inner .inner__inner {
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}
.article a {
    text-decoration: none;
}

.article__meta-data {
    height: 50px;
    background: #333333;
    padding: 0 20px;
    color: white;
    line-height: 50px;
    margin: 0;
    font-weight: 300;
    font-size: 16px;
}
.article__inner img {
    max-width: 100%;
    width: auto;
    height: 200px;
}
.article__excerpt {
    padding: 0 20px;
}
.article .title {
    font-weight: 300;
    color: #666;
}
.article:hover .inner__inner {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
.article__excerpt p{
    color: #666;
}
h2.arrow {
    font-size: 15px;
    text-transform: uppercase;
    color: #353535;
    letter-spacing: 1px;
    background: url('../img/h2-bg.png') no-repeat center bottom;
    padding-bottom: 30px;
    font-weight: bold;
}
/*
|-----------------------------------------------------------------------------
| Waypoints
|-----------------------------------------------------------------------------
*/
.wp1, .wp2, .wp3, .wp4, .wp5, .wp6 { visibility: hidden; }
.rotateInUpLeft, .bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight, .zoomIn { visibility: visible; }
.delay-05s { animation-delay: 0.5s; -webkit-animation-delay: 0.5s; }
.delay-1s { animation-delay: 1s; -webkit-animation-delay: 1s; }
/*
|-----------------------------------------------------------------------------
| HEADER
|-----------------------------------------------------------------------------
*/ 
header{
	background-color: #333;
}
.navbar-default{
	background: transparent;
	background-color: transparent;
	background-image: none;
	border: none;
	box-shadow: none;
}
.navbar{
	margin-top: 20px;
}
.nav > li > a{
	padding: 10px;
}
.navbar-form{
    margin-top: 0;
	padding: 5px 0 10px 10px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li.current>a{ 
    background-color: transparent;
	color: #fff;
}
.topbar {
	background-color: #414141;
	border-bottom: 1px solid #1A1A1A;
	border-top: 1px solid #555;
    height: 35px;
}
.topbar .dropdown{
    list-style: none;
}
.topbar #navLogin{
    border-radius: 0;
    top: 30px;
}
/* login header */
.login:hover, .close_login:hover{
    cursor: pointer;
}

.active_login{
    display: block;
    margin-top: 0;
}
.w300{
    width: 300px;
}
.w180{
   width: 180px; 
}
.input-h{
    border: black;
    border-radius: 5px;
    color: #C2BDBD;
    font-size: 17px;
    height: 30px;
    margin-right: 10px;
    padding: 5px 10px 3px;
}
.text-h{
    color: #fff;
    font-weight: normal;
}
.btn-h{
    margin-top: -9px;
}
.reset_pass_head{
    text-align: right;
    margin-right: 24.5%;
    margin-top: 10px;
}
.reset_pass_head a{
    color: #fff;
}
.reset_pass_head a:hover{
    color: #ACA4A4;
}
/* end login header */
/* register header */
.register:hover, .close_register:hover{
    cursor: pointer;
}
.active_register{
    margin-top: 0;
}
.w300 input, .w300{
    width: 300px;
}
.w180{
   width: 180px; 
}

.input-h, .input-h input{
    border: black;
    border-radius: 5px;
    color: #C2BDBD;
    font-size: 17px;
    height: 38px;
    margin-right: 10px;
    padding: 5px 10px 3px;
}
.text-h{
    color: #fff;
    font-weight: normal;
}
.h-38{
    height: 38px;
    margin-top: -5px;
}
/* end register header */

.fixed {
    position:fixed;
    top:0;
    background-color:#363636;
    z-index:1000;
    width:100%;
    transition-duration:.32s;
}
/*
|-----------------------------------------------------------------------------
| HOME
|-----------------------------------------------------------------------------
*/
.flexslider{
    border: none;
}
.flex-direction-nav a:before{
    margin-top: -6px;
}
.flex-caption { 
    background-color: rgba(255,255,255,0.7);
    height: 110px;
    margin-top: -160px;
    margin-left: 80px;
    overflow: hidden;
    position: absolute;
    width: 515px;    
}
.flex-caption h3 {
    color: #fff;
    color: #33291D;
    font-size: 45px;
    height: 40px;
    margin: 10px;
    overflow: hidden;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0,0,0,0.25);
}
.flex-caption p {
    font-size: 40px;
    
    height: 48px;
    margin-top: -10px;
    overflow: hidden;
    padding: 0 10px 10px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,0.25);
}
/*Slider clients*/
#wrapper, #prev, #next {
    height: 190px;
    position: relative;
    top: 50%;
}
#wrapper {    
    left: 2.5%;
    overflow: hidden;
    width: 95%;
}
#carousel img {
    border: 1px solid #f0f0f0;
    height: 180px;
    display: block;
    float: left;
    margin: 10px 5px;
    left: 0;
    width: auto;
}
 
#prev, #next {
    background: center center no-repeat #ccc;
    margin-top: -85px;
    width: 5%;  
}
#prev:hover, #next:hover {
    background-color: #eee;
}
#prev {
    background-image: url( ../img/left.png );
    background-color: transparent;
    height: 180px;
    left: 15px;
    position: absolute;
    
    width: 25px;
}
#next {
    background-image: url( ../img/right.png );
    background-color: transparent;
    height: 180px;
    position: absolute;
    right: 15px;
    width: 25px;
}
/*end*/
/*
|-----------------------------------------------------------------------------
| ABOUT US
|-----------------------------------------------------------------------------
*/
.about_us{
    text-align: justify;
}
.about_us> .col-lg-6{
    float: left;
}
.about_us img, .about_us iframe{
    width: 100%;
    height: 350px;
    margin-top: 5px;
}
.text_about{
    padding: 0 15px;
}
/*
|-----------------------------------------------------------------------------
| NEWS
|-----------------------------------------------------------------------------
*/
.news {
    margin-top: 10px;
}
.news_img{
    background-color: #fff;
    border: 1px solid #eee;
    -webkit-box-shadow: 0 0 5px 0.5px rgba(0,0,0,0.2);
    box-shadow: 0 0 5px 0.5px rgba(0,0,0,0.2);
    text-align: center;
}
.news_img img{
    max-width: 100%;
    height: 295px;
}
.news>.col-lg-8{
    margin-top: 20px;
}
.news>.col-lg-8>div{
    height: 120px;
    overflow: hidden;
    margin-top: 15px;
}
.news>.col-lg-8>a{
    margin-top: 20px;
    float: right;
}
.news_detail>img{
    float: left;
    width: auto;
    height: 300px;
    margin: 10px 15px 9px 0;
}
.news_detail>.col-lg-3{
    float: right;
    background-color: #F3F3F3;
    margin: 10px 0 10px 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.news-posts ul, .news-comments ul{
    padding-left: 20px;
    padding-right: 20px;
}
.news-posts hr, .news-comments hr{
    margin-top: 7px;
    margin-bottom: 7px;
    border-top: 1px dotted;
}
.news_comment{
    background-color: #eee;
    padding: 9px 13px;
    border-radius: 6px;
    border: 1px solid #ADADAD;
}
.t_comment{
    margin-top: 0;
    margin-bottom: 20px;
}
/*
|-----------------------------------------------------------------------------
| PRODUCTS
|-----------------------------------------------------------------------------
*/
.products>.col-lg-4{
    float: left;
}
.text_products{
    padding: 0 15px;
}
.img_detail_prod{
    width: 100%;
    max-height: 500px;
}
.prod_img{
    text-align: center;
    background-color: #fff;
    /*border: 1px solid #eee;*/
    -webkit-box-shadow: 0 0 5px 0.5px rgba(0,0,0,0.2);
    box-shadow: 0 0 5px 0.5px rgba(0,0,0,0.2);
}
.prod_img img{
    max-width: 100%;
    height: 200px;
}
.prod_text>h4{
    height: 39px;
    overflow: hidden;
    margin-bottom: 1px;
}
.prod_text>div{
    height: 60px;
    overflow: hidden;
}
.prod_text>a{
    margin-top: 15px;
    float: right;
}
.results{
    text-align: center;
    margin-top: 80px;
    position: absolute;
    width: 100%;
}
.ajax_loading{
    text-align: center;
    position: absolute;
    width: 100%;
}
/* category list */
ul.list-group li{
    position: relative;
}
.ico-more{
    padding: 1px 5px;
    position: absolute;
    right: 10px;
    top: 9px;
    cursor: pointer;
}
span.more_items{
    font-size:small;
    float:right; 
    color:#FFF; 
    padding-top:5px; 
    cursor:pointer;
    position: absolute;
    right: 10px;
}
.list-group-item .level_2{
    display: none;    
}
.list-group-item:hover{
    max-height: 300px;
    overflow: hidden;
}
.list-group-item ul{
    padding: 0;
}
.list-group-item li{
    display: block;
    padding: 10px 15px;
}
.list-group-item li ul li{
    padding: 5px 15px;
}
.open{
    display: block !important;
    overflow: inherit;
    height: auto;
    max-height: 300px;
}
.class_active>a{
    color: #333;
}
.class_active{
    max-height: 42px;
    overflow: hidden;
}
.class_active{
    max-height: 300px;
    overflow: hidden;
}
/* end category list */

/*categories head*/

.list-group{margin: 0;}

.li_nav_header .list-group-item {

  border: 0.2rem solid #004c62 !important;

  padding: 1rem !important;

  -webkit-border-radius: 0 !important;

  border-radius: 0 !important;

  list-style: none;

}

.li_nav_header .list-group-item {

  border-bottom: none !important;

}



.li_nav_header .list-group-item:last-child{

  border-bottom:none!important;

}

.search_home_product{

  margin:1% 0 2% 0;

}

.li_nav_header .list-group-item{

  margin-bottom:1.5%!important;

  border-radius:3px!important;

  background:#d71414!important;

  border-bottom:3px solid #b30d0d!important;

  border-top: none!important;

  border-left:none!important;

  border-right:none!important;

  padding:0.5rem!important;

  -webkit-box-shadow: 0 8px 6px -6px #074a5a;

  -moz-box-shadow: 0 6px 10px -5px #074a5a;

  box-shadow: 0 8px 6px -6px #063440;

}

.li_nav_header .list-group-item a{

  color:#fff!important;

  padding-left:15px;

}

.li_nav_header .list-group-item:last-child{

  border-bottom:3px solid #b30d0d!important;

}

.li_nav_header .list-group-item ul.level_2{

  display:none;

  list-style:none;
}

.li_nav_header .list-group-item ul.level_2 a{

  font-size:small!important;
}



/* category header */
.li_nav_header .list-group-item, .li_nav_header:hover .list-group-item{
    overflow: visible;
    padding: 9.8px !important;
}
.pos_ab{position: absolute; z-index: 10;}
.wrap_men_sec_header{display: none;}
.wrap_men_sec_header ul.list-group{min-width: 190px; -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.3); box-shadow: 0 1px 5px;}
.wrap_men_sec_header li:before{display:none;}
.wrap_men_sec_header li:after{display:none;}
.wrap_men_sec_header ul.list-group li a{font-size: 11px!important; color: #FFF!important; border-bottom: none!important; padding: 0!important;}
.wrap_men_sec_header ul.list-group li{background: #515052!important; border-radius: 0!important; font-size: small; border-bottom: 0!important; margin: 0!important;border-bottom: 1px solid #6e6e6f !important;}
.wrap_men_sec_header ul.list-group li{width: 100%!important;}
.wrap_men_sec_header ul.list-group li:hover{background: #6e6e6f!important;}
.wrap_men_sec_header ul.list-group li:hover a.link_lvl_1{color: #fff!important;}
.wrap_men_sec_header .list-group-item ul.level_2{padding: 0!important; min-width: auto!important; -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.3); box-shadow: 0 1px 5px;}
.li_nav_header .list-group-item ul.level_2 li{padding: 9.8px!important;min-width: 123px;}
.li_nav_header .list-group-item ul.level_3{display: none; -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.3); box-shadow: 0 1px 5px;}
.li_nav_header .list-group-item ul.level_2 li:hover a.link_lvl_2{color: #fff!important;}
.li_nav_header .list-group-item ul.level_3 li:hover a.link_lvl_3{color: #fff!important;}
/* end category header */

/*
|-----------------------------------------------------------------------------
| SERVICES
|-----------------------------------------------------------------------------
*/ 
.services>.col-lg-4{
    float: left;
}
.text_services{
    padding: 0 15px;
}
.img_detail_serv{
    width: 100%;
    max-height: 500px;
}
/*
|-----------------------------------------------------------------------------
| BLOG
|-----------------------------------------------------------------------------
*/ 
.tittle_blog{
    margin-top: 0;
}
.preview{
    height: 120px;
    overflow: hidden;
}
.tittle_tag{
    float: left;
    margin-top: 7px;
    margin-right: 6px;
}
.cont_tag{
    display: inline-block;
    position: relative;
    margin-top: 5px;
}
.tag{
    border: 1px solid #AAAAAA;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    display: block;
    float: left;
    padding: 3px 6px 5px;
    text-decoration: none;
    background: #EEEEEE;
    color: #808080;
    margin-right: 5px;
    margin-bottom: 5px;
    font-family: helvetica;
    font-size: 13px;
}
.panel-info > .panel-heading{
    background: #414141; 
    color: #fff;
    

}
.panel-info {
    border-color: #B4B4B4; 
}
.blog_comment {
    background-color: #eee;
    padding: 9px 13px;
    border-radius: 6px;
    border: 1px solid #ADADAD;
}
#comments .gravatar{
    width: 60px;
    height: 60px;
    border: 3px solid #808080;
}
/*
|-----------------------------------------------------------------------------
| WORK WITH US
|-----------------------------------------------------------------------------
*/
.work{
    text-align: center;
}
.work img{
    max-height: 431px;
    margin-bottom: 25px;
    display: initial;
}
/*
|-----------------------------------------------------------------------------
| GALLERY
|-----------------------------------------------------------------------------
*/ 
/*--------- Type 1 ----------*/
.gallery_tipe_1{
    text-align: center;
}
.gallery_tipe_1 img{
    text-align: center;
    background-color: #fff;
    padding: 5px;
    height: 200px;
    max-width: 100%;
}
.title-gallery{
    height: 40px;
    overflow: hidden;
    color: #333;
}
/*--------- Type 2 ----------*/
/*--------- video ----------*/
.close1 {
    background: #000;
    padding: 2px 7px;
    border-radius: 18px;
    color: #fff;
    border: 3px solid #e85600;
    position: relative;
    float: right;
    margin: -9px;
}
.modal-body-iframe {
    margin: 15px;
}
.modal-body-iframe>iframe {
    width: 100%;
    height: 400px;
}
#video img{
    max-width: 100%;
    width: auto;
    height: 200px;
}
#boxer .boxer-video{
    border: none;
}
#boxer{
    padding: 15px 15px 5px;

}
/*
|-----------------------------------------------------------------------------
| CONTACT US
|-----------------------------------------------------------------------------
*/
#map_canvas{
    width: 100%;
    height: 270px;
}
.info_content {
    width: 250px;
}
.info_content h3{
    font-size: 15px;
    margin-top: -4px;
}
.info_content img{
    width: 105px;
    height: 105px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.info_content div span {
    font-weight: bold;
}
/*
|-----------------------------------------------------------------------------
| FOOTER
|-----------------------------------------------------------------------------
*/
footer{
    background-color: #333;
    color: #fff;
}
.trans {
    background-color: rgba(0, 0, 0, 0.2);
    min-height: 50px;
    margin-top: 20px;
}
.copyright {
    color: #fff;
    margin-top: 17px;
}
.marca-cont {
    margin-top: 15px;
}
.marca-cont a:hover{
    text-decoration: none;
}
.ahorranito {
    background-image: url(../img/ahorranito.png);
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    width: 20px;
}
.a-logo{
    color: #00A6FF;
}
.foot-nav{
    list-style: none;
    padding-left: 0;
}
.foot-nav>li>a{
    color: #777;
    padding: 10px 10px 10px 0;
    text-shadow: 0 1px 0 rgba(255,255,255,0.25);
}
.foot-nav>li>a:hover{
    color: #fff;
    text-decoration: none;
}
.info-cont div:nth-child(2) i{
    margin-right: 15px;
    font-size: 20px;
}
.info-cont div:nth-child(3) i{
    margin-right: 15px;
    font-size: 17px;
    margin-left: -6px;
}
.info-cont div:nth-child(4) i{
    margin-right: 15px;
    font-size: 22px;
    vertical-align: middle;
}
.info-cont div{

    margin-top: 20px;
}
.social>div{
    margin-top: 20px;
}
.social i{
    color: #fff;
    font-size: 28px;
    vertical-align: middle;
}
.social div a {
    color: #fff;
}
/*
|-----------------------------------------------------------------------------
| @Mediaqueries
|-----------------------------------------------------------------------------
*/
@media only screen and (min-width : 320px) and (max-width : 480px) {
    .form-group.m0{
        margin-bottom: 15px;
    }
    .res_form{
        margin: 0 20px 20px;    
    }
    .w300 input, .w300{
        width: 50%;
    }
    .w180{
        width: 48%;
    }
    .input-h, .input-h input{
        margin-right: 0;
        margin-bottom: 2px;
    }
    .bkg-login .mtop30, .bkg-register .mtop30{
        margin-top: 10px;
    }
    .bkg-login h1, .bkg-register h1{
        margin-bottom: 0;
    }
    .close_login{
        top: -5px;
    }
    .h-38{
        margin-top: 3px;
        margin-bottom: 2px;
    }
    .reset_pass_head{
        text-align: center;
        margin-right: 0;
        margin-top: 4px;
    }
    .flex-caption, .flex-direction-nav{
        display: none;
    }
    .navbar{
        margin: 5px 0;  
    }
    .navbar-brand{
        padding: 10px 15px;
    }
    .grid figure{
        height: 300px;
    }
    footer{
        text-align: center;
    }
    .info-cont div{
        margin-top: 5px;
    }
    .social>div {
        margin-top: 5px;
        display: inline;
        margin-right: 3px;
    }
    .foot-nav>li{
        display: inline-table;
    }
}
@media only screen and (min-width : 481px) and (max-width : 767px) {
    .form-group.m0{
        margin-bottom: 15px;
    }
    .res_form{
        margin: 0 20px 20px;    
    }
    .w300 input, .w300{
        width: 50%;
    }
    .w180{
        width: 48%;
    }
    .input-h, .input-h input{
        margin-right: 0;
        margin-bottom: 2px;
    }
    .bkg-login .mtop30, .bkg-register .mtop30{
        margin-top: 10px;
    }
    .bkg-login h1, .bkg-register h1{
        margin-bottom: 0;
    }
    .close_login{
        top: -5px;
    }
    .h-38{
        margin-top: 3px;
        margin-bottom: 2px;
    }
    .reset_pass_head{
        text-align: center;
        margin-right: 0;
        margin-top: 4px;
    }
    .flex-caption, .flex-direction-nav{
        display: none;
    }
    .navbar{
        margin: 5px 0;  
    }
    .navbar-brand{
        padding: 10px 15px;
    }
    footer{
        text-align: center;
    }
    .info-cont div{
        margin-top: 5px;
    }
    .social>div {
        margin-top: 5px;
        display: inline;
        margin-right: 3px;
    }
    .foot-nav>li{
        display: inline-table;
    }

}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .res_form{
        margin: 0 20px 20px;    
    }
    .w300 input, .w300{
        width: 50%;
    }
    .w180{
        width: 48%;
    }
    .input-h, .input-h input{
        margin-right: 0;
        margin-bottom: 2px;
    }
    .bkg-login .mtop30, .bkg-register .mtop30{
        margin-top: 10px;
    }
    .bkg-login h1, .bkg-register h1{
        margin-bottom: 0;
    }
    .close_login{
        top: -5px;
    }
    .h-38{
        margin-top: 3px;
        margin-bottom: 2px;
    }
    .reset_pass_head{
        text-align: center;
        margin-right: 0;
        margin-top: 4px;
    }
    .foot-nav>li{
        width: 50%;
        display: inline-block;
        margin: 2px 0;
    }
    .navbar-collapse{
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-nav{
        float: right;
    }
}

@media only screen and (min-width : 1025px) and (max-width : 1200px) {
    .navbar-collapse{
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-nav{
        float: right;
    }
}
@media only screen and (min-width : 1201px) and (max-width : 1400px) {
    .navbar-collapse{
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-nav{
        float: right;
    }
	.navbar-default .search{
		width: 150px;
	}
    .foot-nav>li{
       width: 50%;
        display: inline-block;
        margin: 2px 0; 
    }
}