

//@AboutUs

$tab-color_active:  $color
$tab-color: $colorSec

$border-active: true !default

=border-active
	@if $border-active
		border: 4px solid $gray-light

	@else



main.aboutUs
	figure
		margin: 0 0 $space 
		+size(100% 300px)
		+border-active
		+figure
	
	.row
		+mb(0)
	
	.tabs
		height: 30px $i
		+bg($transparent $i)
		+mb(20px)

		li
			height: auto $i
			+bg($transparent $i)
			a
				+fs(1.6, 100%, 600)
				+upper
				+co($tab-color $i)
			.active
				+co($tab-color_active $i)
		
		
	.tabs .indicator
		+bg($tab-color_active $i)
		
	.tab-content
		+mb($space)
		h2
			+fs(2, 100%, 700)
			+mb($space)
	
	
	
.workTeam
	.row
		+mb(0)
	h1
		+mb(10px)
	.panel
		+mb(20px)
		+tCenter
		+patt(5)
		height: 100%
		min-height: 600px
		padding: 20px
		img
			+ib
			+centered
			+radius(100%)
			+mb(10px)
			border: 4px solid $colorSec
			width: 140px
			
		h4
			+fs(2, 100%, 400)
			+mb(20px)
			+co($gray-dark)
		.container
			width: 100%
		.text
			+pb(20px)
			+relative
			+fs(1.6, 180%, 400)
			+before
				+content('')
				+ib
				+va
				+bot-left(0, 50%)
				+size(10px 10px)
				+bc($color)
				+radius(100%)
				+ml(-5px)
		p
			+fs(1.6, 180%, 400)
	h3
		margin: 30px 0 
		padding: 10px 20px
		+fs(2, 100%, 400)
		+upper
		+bg($color)
		+co(white)
	.text
		+mb(20px)
	article
		+bb(thin solid $gray-light)
		margin: 5px 0
		+bb(thin solid $gray-light - 20)
		+pb(0px)
		+mb(40px)
		+relative
		h2
			+fs(2, 100%, 400)
			+co($color)
			margin: 20px 0 $space
			+upper

		.position
			padding: 5px 0
			+co($color)
			+mb(10px)
			+mr(20px)
			+bt(thin dotted $gray-light - 20)
			+bb(thin dotted $gray-light - 20)
			i
				+mr(5px)
		.mail
			+block
			+bt(thin dotted $gray-light - 20)
			padding: 5px 0 8px
			+mr(20px)
			i
				+mr(5px)

		figure
			+right
			width: 100%
			height: 340px
			+mb(20px)
			+background
			border: 2px solid $gray-light - 20
			+radius(6px)
	
		.icon
			+none
			+bot-left(-20px,50%)
			margin: 0 0 0 -30px
			+bg(white)
			+tCenter
			+radius(100%)
			+size(40px 40px)
			span
				+img(logotipo-gray)
				+background(contain)
				+opa(.6)
				+block
				+grayFilter(1)
				+size(40px 30px)
	.logo
		+mt(20px)
		+tCenter
		+block
		img
			height: 40px
			+ib
			+mb(10px)
		a
			+block
			+fs(1.4, 120%, 300)
			+co($color)
			+hover
				+co($color - 20)
				+under

	
	