//@carrousel

.carousel2
	+bc($color)
	+noScroll
	+patt(4)
	padding: 40px 0 30px
	+m0
	+w100
	+relative
	+tLeft
	+z(999)
	h2
		+co($gray-dark)
		+mb(30px)
		+ib
		+w100
		+upper
		+tCenter
		+fs(3, 100%, 300)
		strong
			+co($white)
			+fs(3, 100%, 300)
	h3
		margin: 10px 0 0
		+fs(1.6, 100%, 300)
		+tCenter
		+co($carousel-colorSubtitle)
		+tRight
	.text
		+fs(2, 140%, 100)
		+co($white)
		+bb(thin dotted $white)
		+tLeft
		+pb(10px)
		i
			margin: 0 10px
			+fs(2)

section.carousel
	.text ul li::before
		+co($color $i)
	+bc($gray-light - 50)
	+noScroll
	+patt(0)
	padding: 40px 0 30px
	+m0
	+w100
	+relative
	+tLeft
	+z(999)
	figure
		+tCenter
		+radius(100%)
		+size(100px)
		+bg(white)
		+centered
		border: 2px solid $white
	img
		+size(60px)
		+transition(.4s)
		+mt(20px)
		+ib
		+grayFilter(0)
		+hover
			+grayFilter(0)

	i
		+fs(12)
		+co($white)
		+opa(.4)
	
	h2
		+co($gray-dark)
		+mb(30px)
		+ib
		+w100
		+upper
		+tCenter
		+fs(3, 100%, 300)
		strong
			+co($color)
			+fs(3, 100%, 300)
	
	h3
		margin: 10px 0 0
		+fs(2, 100%, 400)
		+tCenter
		+co($gray-dark)
	
	.text
		+fs(1.5, 140%, 300)
		+co($gray-dark)
		+bb(thin solid $white)
		+tLeft
		+pb(10px)
		i
			margin: 0 10px
	
	.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto
		bottom: -40px $i
		+none
	
	.bx-wrapper .bx-pager.bx-default-pager a
		+bg($carousel-bgBullet $i)
		+size($carousel-sizeBullet)
		+radius(100%)
		margin: 0 $carousel-spaceBullet $i
		border: $carousel-borderBullet
		+transition
	.bx-wrapper .bx-pager.bx-default-pager a.active
		+bg($carousel-bgBullet_active $i)
		border: $carousel-borderBullet_active

	
	.container-responsive
		width: 100%
		+centered
	
//section.carousel
//	+mobil
//		.container-responsive
//			width: 70%
//			+b2
