<!doctype html>
<html>
  <head>
    {{ theme:partial name="metadata-css" }}
  </head>
<body>

 <main class="error-page">
	    <div class="container" style="padding-top:135px;">
	      <div class="nav-wrapper">
	        <div class="row">
	          <div class="col m6 offset-m3 col s8 offset-s2 tCenter">
	           	<a class="" href="{{ url:site }}"><img src="{{ url:site }}{{ widgets:instance id='2'}}" alt="{{ settings:site_name }}" /></a> 
	          </div>
	          <div class="col s12"><h1>Error 404</h1>
	          <h2>Si tienes problemas para navegar la pagina, click <a href="home">aquí</a> y vuelve a intentarlo</h2></div> 
	        </div>
	      </div>
	    </div>
	     
	  </main>


</body>
</html>

	 