<footer>
<div class="container">
	<div class="row">
		{{ if theme:options:showmenu_footer == 'yes' }}
		<div class="col s12">
		
			<nav>
				<ul>
					{{ navigation:links group="header" }}
				</ul>
			</nav>
		</div>
		{{else}} {{ endif }}
		<div class="col s12">
			<div class="actions">
			</div>
		</div>
		<div class="col s12">
			<div class="contact-info">{{ widgets:instance id="30"}} </div>
		</div>
</footer>
<div class="postFooter">		
<div class="container copy">
    <div class="row">
        <div class="col s12 m6">
            <div class="copyright right">Copyright &#169; {{ helper:date format="Y" }} - <span>{{ settings:site_name }}</span>. {{ helper:lang line="all_right_reserved" }}</div>
        </div>
        <div class="col s12 m6">
            <div class="ahorranito">
                <a href="http://imaginamos.com/" target="_blank"><div class="ahorranito-icon"></div>Diseño de páginas web imaginamos.com</a> </div>
        </div>
    </div>
</div>
	</div>
</div>
  <div id="modal1" class="modal bottom-sheet">
   <main class="contact">
      <h1><div class="container">Contacto  <a href="#!" class="modal-action modal-close waves-effect waves-green btn ">Cerrar</a></div></h1>
      <div class="container">{{ widgets:instance id="6"}}</div>
    </main>
  </div>
</div>	