   <div class="headerx">

		<div class="container" style="width: 100%; max-width: 100%;">

        <div class="row relative">

           <div class="col s12 l5 tRight">

           		<nav class="hide-on-med-and-down">

                <a href="#">Inicio </a>

                <a class="got" href="#about">Quienes somos</a>

                <a class="got" href="#marca">Beneficios</a>
                  
                   <a class="got" href="#owned">Sabores</a>

                

                </nav>

           </div>

            <div class="col s8 offset-s2  m6 offset-m2 l2">

                <a class="logo " href="{{ url:site }}" style="background-image: url('{{ url:site }}{{ widgets:instance id='2'}}')" title="{{ settings:site_name }}"></a>

            </div>

            <div class="col s12 l5 tLeft">

               <nav class="hide-on-med-and-down">
               
                 <a class="got" href="#recetas">Recetas</a>

               <a class="got" href="#galeria">Galería</a>

               

                <a class="got" href="#cite">Donde comprar</a>

                <a class="got" href="#contact">Contáctenos</a>

                </nav>

            </div>

            <ul id="nav-mobile" class="right side-nav">

                <ul>
                    <li><a href="#">Inicio</a>
                    </li>
                    <li><a class="got" href="#about">Quienes somos</a>
                    </li>
                    <li><a class="got" href="#marca">Beneficios</a>
                    </li>
                    <li><a class="got" href="#owned">Sabores</a>
                    </li>
                    <li><a class="got" href="#cite">Donde comprar</a>
                    </li>
                    <li><a class="got" href="#contact">Contáctenos</a>
                    </li>
                </ul>



                <ul id='dropdown1' class='dropdown-content'>

                    <li><a href="servicios">Servicios</a>

                    </li>

                    <li class="divider"></li>

                    <li><a href="productos">Productos</a>

                    </li>

                    <li class="divider"></li>

                    <li><a href="proyectos">proyectos</a>

                    </li>

                </ul>

            </ul> <a class="button-collapse hide-on-large-only" href="#" data-activates="nav-mobile"><i class="fa fa-bars"></i></a> 

        </div>

		</div>

</div>







