@charset "utf-8";
/* CSS Document */

/*---------------------------------------------------

* Nombre del proyecto: 				PYRO TIENDA CMS
* Nombre del archivo: 				webarch.css
* Descripción:						Hoja de estilos global
* Fecha de creación:				24 de Febrero de 2014
* Autor:							Adrián Rodríguez

== COMENTARIOS ===========

Los estilos están basados en el template "Webarch", si más no, esta hoja de estilos no
es la original del template.


---------------------------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

/*
|-----------------------------------------------------------------------------
| General
|-----------------------------------------------------------------------------
*/
*{
	font-family:'Open Sans';
}
.clear{
	clear:both;
}
body{
    overflow-x: hidden;
	min-width:320px;
}
/*
|-----------------------------------------------------------------------------
| MAIN LAYOUT
|-----------------------------------------------------------------------------
*/
body.no-scroll{
	overflow-y: hidden;
}
.main-menu{
    background-color: #1B1E24;
    display: block;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 250px;
    z-index: -1;
}
.second-nav{
	background-color: #1B1E24;
    display: block;
    height: 100%;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    width: 250px;
    z-index: -1;
}
.main-content{
	background-color: #E5E9EC;
    margin-right: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
}
.main-active{
	margin-left:250px;
}
.main-active .subbar,
.main-active .sections_bar{
	left:250px;
}
.second-active{
	margin-left:-250px;
}
.second-active .subbar,
.second-active .sections_bar{
	left:-250px;
}
.main-menu.active{
	z-index: 2;
}
.second-nav.active{
	z-index: 2;
}

.subbar .wrapper,
.sections_bar .wrapper{
	padding:0 26px !important;
}
.wrapper {
    width: auto;
}
#container {
    width: auto;
}
.main-content section#content {
    float: left;
    margin: 120px 0 70px !important;
    padding: 0 2%;
    width: 96%;
}
/*
|-----------------------------------------------------------------------------
| LOGIN
|-----------------------------------------------------------------------------
*/
body#login-body {
    background-image:none;
	background-color: #E5E9EC;
}
#login-logo{
	background-image: url("../../img/logo-imaginamos-blue.png");
    height: 43px;
    width: 310px;
}

.login-screen #content-body form li input[type="text"],
.login-screen #content-body form li input[type="password"] {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    border-radius: 2px;
    box-shadow: 0 0;
    color: #555555;
    font-size: 13px;
    font-weight: 700;
    padding: 6px 33px 6px 12px;
    width: 308px !important;
	height: 25px;
}
.login-screen #content-body form li input[type="text"]:focus,
.login-screen #content-body form li input[type="password"]:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0;
}

.login-screen #content-body form li label#login-remember {
    color: #4D5056;
    display: block;
    font-size: 13px;
    font-weight: 400;
    height: 18px;
    line-height: 20px;
    margin: 0 auto 10px;
    padding: 0;
}
#login-footer {
    background: none repeat scroll 0 0 #4C525E;
    border-top: medium none;
    bottom: 0;
    box-shadow: 0 0;
    color: #858585;
    font-size: 12px;
    height: 30px;
    margin-top: 0;
    padding: 5px 0;
    position: fixed;
    text-align: center
}
#login-footer span#version{
	color: #858585;
	padding:0;
}
#login-credits {
    margin-top: 5px;
}
#login-remember .ez-checkbox {
    margin-top: -4px;
    vertical-align: middle;
}
/*
|-----------------------------------------------------------------------------
| MAIN MENU
|-----------------------------------------------------------------------------
*/
.topbar {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    box-shadow: 0 0;
    height: auto;
    text-align: center;
}
.topbar-inner .wrapper{
	padding:0;
}
#logo {
    background-color: #22262E;
    color: #FFFFFF;
    display: block;
    float: none;
    height: 30px;
    margin: 0;
    padding: 15px 0;
    width: 250px;
}
.topbar nav {
    float: none;
}
.topbar ul li {
    float: none;
}
nav#primary ul.primary-nav {
    display: block !important;
    height: 100px;
    margin: 0;
    overflow: auto;
    text-align: left;
    width: 267px;
}
#dashboard-link a,
.topbar ul li a{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    border-radius: 0;
    box-shadow: 0 0;
    color: #8B91A0;
	width: 188px;
    display: block;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 11.5px 31px;
    position: relative;
    text-decoration: none;
}
.topbar ul li a.menu:after {
    border-left: 0 none;
    border-right: 0 none;
    border-top: 0 none;
}
#dashboard-link a:hover,
.topbar ul li a:hover{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #fff;
	box-shadow:0 0;
}
.topbar ul li ul {
    background-color: #22262E;
    border-style: solid none none;
    border-width: 0;
    box-shadow: 0 0;
    float: none;
    max-width: 250px;
    min-width: 250px;
    position: static;
    top: auto;
}
.topbar ul li a.menu{
	background-image: url("../../img/nav-arrow.png");
    background-position: 205px 16px;
    background-repeat: no-repeat;
	cursor:pointer;
}
.topbar ul li.open a.menu{
	background-position: 205px -53px;
	color:#fff;
}
.topbar ul li ul li {
    float: none;
    font-size: 12px;
    max-width: 220px;
    min-width: 250px;
	margin-top: 1px;
}
.topbar ul li ul li.first{
	padding-top:8px;
}
.topbar ul li ul li.thelast{
	padding-bottom:10px;
}
.topbar ul li ul li  a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #E1EAF1;
    display: block;
    font-size: 13px;
    font-weight: 300;
    margin: 0;
    padding-bottom: 5px;
    padding-left: 53px !important;
    padding-right: 0;
    padding-top: 5px;
    text-decoration: none;
    text-shadow: 0 1px 1px #000000;
	width: 197px;
	-webkit-transition: 200ms linear all;
     -moz-transition: 200ms linear all;
       -o-transition: 200ms linear all;
          transition: 200ms linear all;
}
.topbar ul li ul li:hover{
	background-color:transparent;
}
.topbar ul li ul li a:hover{
	background-color:#1b1e24;
}
nav#primary .chzn-container {
    display: none !important;
}
#shortcuts li a,
#shortcuts li a:hover {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../../img/create-icon.png");
    background-position: left center;
    background-repeat: no-repeat;
    border-radius: 0;
    box-shadow: 0 0;
    color: #4C5264;
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 600;
    padding: 4px 10px 4px 17px;
    text-shadow: 0 0;
}
#shortcuts li a:hover {

}
#shortcuts ul li a.add:before {
    content: none;
}
#shortcuts {
    right: 10px;
    top: 20px;
}
.subbar-inner {
    position: static;
}
/*
|-----------------------------------------------------------------------------
| SECONDARY MENU
|-----------------------------------------------------------------------------
*/
.second-nav .topbar-form {
    background-color: #22262E;
    float: none;
    height: 60px;
    margin-left: 0;
    margin-top: 0;
    width: 250px;
}

.second-nav .topbar-search .search-query{
    background: none repeat scroll 0 0 #0D0F12;
    border: 0 none;
    border-radius: 2px;
    box-shadow: 0 0;
    color: #808181;
    display: block;
    float: none;
    height: 29px;
    margin: 12px auto 0;
    min-height: 29px;
    width: 190px;
}
.second-nav .topbar-search .search-query:focus{
	background: none repeat scroll 0 0 #fff;
    border: 0 none;
    border-radius: 2px;
    box-shadow: 0 0;
    color: #808181;
    display: block;
    float: none;
    height: 29px;
    margin: 12px auto 0;
    min-height: 29px;
    width: 190px;
}
.second-nav ul{
    margin: 0;
    overflow: auto;
    text-align: left;
    width: 267px;
	padding-top:11px;
}
.second-nav  li{
	list-style:none;
}
.second-nav  li a{
	font-size:14px;
	color:#8B91A0;
	display:block;
	width:188px;
	padding:11.5px 31px;
	cursor:pointer;
}
.second-nav  li a:hover{
	color:#fff;
}

.second-nav #shortcuts {
    bottom: 0;
    right: 0;
    top: auto;
    width: 250px;
}

.second-nav #shortcuts ul li {
    display: block;
	background-color:#22262E;
}

.second-nav #shortcuts li a {
    color: #8B91A0;
    cursor: pointer;
    display: block;
    font-size: 14px;
    margin-left: 21px;
    padding: 11.5px 31px 11.5px 20px;
    width: 188px;
}
.second-nav #shortcuts li a:hover{
	color:#fff;
}
/*
|-----------------------------------------------------------------------------
| HEADER
|-----------------------------------------------------------------------------
*/
.subbar {
    background-color: #FFFFFF;
    border: 0 none;
    box-shadow: 0 0;
    left: auto;
    margin-top: 0;
    min-height: 60px;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0 !important;
    width: 100%;
}
.menu-btn{
    background-image: url("../../img/top-tray.png");
    background-position: -288px -7px;
    cursor: pointer;
    float: left;
    height: 15px;
    margin-left: -4px;
    margin-top: 21px;
    position: relative;
    width: 18px;
}
.second-nav-btn{
	background-image: url("../../img/second-nav-btn.png");
    background-position: top;
    cursor: pointer;
    height: 18px;
    margin-left: -4px;
    margin-top: 19px;
    position: absolute;
    right: 22px;
    width: 18px;
	display:none;
}
.second-nav-btn.active{
	background-position:bottom;
}
.topbar-form{
    float: left;
    height: 37px;
    margin-left: 30px;
    margin-top: 10px;
    width: 280px;
	-webkit-transition: 200ms linear all;
     -moz-transition: 200ms linear all;
       -o-transition: 200ms linear all;
          transition: 200ms linear all;
}
.main-content .topbar-form.focus{
	background-color:#f4f5f7;
}
.search-icon{
	background-image: url("../../img/top-tray.png");
    background-position: -261px -6px;
    background-repeat: no-repeat;
    float: left;
    height: 16px;
    margin-left: 8px;
    margin-top: 10px;
    position: relative;
    width: 18px;
}
.topbar-search {
    position: static;
    right: auto;
    top: auto;
}

.topbar-search .search-query,
.topbar-search .search-query:focus {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    border-radius: 0;
    box-shadow: 0 0;
    color: #000000;
    margin: 0;
    min-height: 29px;
    width: 214px;
}
.sections_bar {
    background-color: #4C525E;
    border: 0 none;
    height: auto;
    left: auto;
    position: fixed;
    right: 0;
    top: 60px !important;
}
.sections_bar ul li.current a,
.sections_bar ul li a:hover {
    color: #FFFFFF;
}

.sections_bar ul li.current:before {
    border-left: 0 none;
    border-right: 0 none;
    border-top: 0 none;
}
.sections_bar ul li.current:after {
    border-left: 0 none;
    border-right: 0 none;
    border-top: 0 none;
}

/*
|-----------------------------------------------------------------------------
| BUTTONS
|-----------------------------------------------------------------------------
*/
.btn {
    display: inline-block;
    *display: inline;
     padding: 9px 12px;
	 padding-top:7px ;
    *margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    color: #5e5e5e;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #d1dade;
    *border: 0;
    -webkit-border-radius: 3px;
     -webkit-border-radius: 3px;
     -webkit-border-radius: 3px;
	background-image:none !important;
	border: none;
	text-shadow: none;
	box-shadow:none;
    transition: all 0.12s linear 0s !important;
	font: 14px/20px 'Open Sans',Helvetica,Arial,sans-serif;

	margin-right: 5px;
	margin-bottom: 8px;
	text-shadow:0 0 !important;
	border:0 !important;
}
.btn:focus{
	outline:none;
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    background-color: #c1cace;
    *background-color: #c1cace;
	border:0;
}
.btn-cons{
	margin-right: 5px;
	min-width: 120px;
	margin-bottom: 8px;
}
.btn.blue {
    background-color: #31c5da;
    color: #FFFFFF;
}
.btn.blue:hover,
.btn.blue:focus,
.btn.blue:active,
.btn.blue.active,
.btn.blue.disabled,
.btn.blue[disabled] {
    background-color: #2eb2c5;
}



.btn.red {
    background-color: #F35958;
    color: #FFFFFF;
}

.btn.red:hover,
.btn.red:focus,
.btn.red:active,
.btn.red.active,
.btn.red.disabled,
.btn.red[disabled] {
    background-color: #E94847;
}


.btn.orange {
    background-color: #FBB05E;
    color: #FFFFFF;
}

.btn.orange:hover,
.btn.orange:focus,
.btn.orange:active,
.btn.orange.active,
.btn.orange.disabled,
.btn.orange[disabled] {
    background-color: #F8A142;
}

.btn.green {
    background-color: #0AA699;
    color: #FFFFFF;
}
.btn.green:hover,
.btn.green:focus,
.btn.green:active,
.btn.green.active,
.btn.green.disabled,
.btn.green[disabled] {
    background-color: #0B9C8F;
}

.btn.gray {
    background-color: #D1DADE;
	color:#5E5E5E;
}
.btn.gray:hover,
.btn.gray:focus,
.btn.gray:active,
.btn.gray.active,
.btn.gray.disabled,
.btn.gray[disabled] {
    background-color: #C1CACE;
}

.btn.blue {
    float: none;
}
.btn.small {
    font-size: 11px;
    padding: 3px 9px;
}
body .btn.disabled,
body .btn:disabled {
    background-color: #C1CACE !important;
    background-image: none !important;
    background-repeat: repeat-x !important;
    border: 0 none !important;
    box-shadow: none;
    color: #5E5E5E !important;
    text-shadow: 0 0 !important;
}
.file-field{

}
.btn-false{
	position:relative;
}
.btn-false .btn{
	margin-top: 20px;
    position: absolute;
    z-index: 1;
}
.btn-false input[type="file"]{
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
	cursor: pointer;
    height: 37px;
    position: relative;
    z-index: 2;
}
button.btn{
    height: 36px;
}
button.btn.small {
    height: 26px;
}
/*
|-----------------------------------------------------------------------------
| BOX CONTENT
|-----------------------------------------------------------------------------
*/
section.title {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 0 none;
    border-radius: 0;
    box-shadow: 0 0;
}
section.item {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    border-radius: 0;
    box-shadow: 0 0;
    margin-bottom: 25px;
}
.one_half {
    margin-bottom: 25px;
}
section.item > .content {
    height: auto !important;
}
body a.toggle,
body a.show-filter{
	background-image: url("../../img/plus-minus-icon.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    display: block;
    height: 20px;
    margin-right: 16px;
    padding: 0;
    width: 20px;
}
body a.toggle.active{
	background-position:top;
}
body a.show-filter.active,
body a.show-filter{
	background-position: center top;
}
#sortable .one_half:nth-child(2n) {
    float: right !important;
    margin-right: 0 !important;
}
/*
|-----------------------------------------------------------------------------
| TABLES
|-----------------------------------------------------------------------------
*/
table {
    border: 0 none;
	color:#576475;
}
table thead th{
	color:#6F7B8A;
	text-transform:uppercase;
	font-weight:700;
}
table th,
table td{
	border:0;
}
table tbody tr td,
table tbody tr td:hover,
table thead tr th,
table thead tr th:hover{
	background-color:#ffffff !important;
}
table tr:hover td,
table tr:hover th{
	background-color:inherit;
}
table tbody tr:nth-child(2n+1) td{
    background-color: #ECF0F2 !important;
}
.scroll-table{
	overflow-x: auto;
    overflow-y: hidden;
}
.scroll-table > table{
	min-width:680px;
}

.scroll-table-wide{
	max-width: 100%;
    -overflow-x: auto;
    -overflow-y: hidden;
}
.scroll-table-wide > table{
	min-width:680px;
}
body .mover{
	background-image:url("../../img/icons/drag_handle.gif")
}

body #product_table tr th:nth-child(2),
body #product_table tr td:nth-child(2),
body #product_table tr th:nth-child(3),
body #product_table tr td:nth-child(3),
body #product_table tr th:nth-child(5),
body #product_table tr td:nth-child(5),
body #product_table tr th:nth-child(6),
body #product_table tr td:nth-child(6),
body #product_table tr th:nth-child(7),
body #product_table tr td:nth-child(7) {
    display: table-cell;
}
.handle{
	cursor:move;
}
.handle span{
    background: url("../../img/icons/drag_handle.gif");
    background-size: 22px 13px;
    background-repeat: no-repeat;
    color: transparent;
    margin: auto 20px;
}
body table.modifiers a.mod-min{
	background-image: url("../../img/plus-minus-icon.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    display: block;
    height: 20px;
    margin-right: 16px;
    padding: 0;
    width: 20px;
}
body table.modifiers a.mod-min.show{
	background-position: center top;
}
table .list {
    display: block;
    font-size: 12px;
    margin-bottom: 14px;
}

table .list .ez-checkbox {
    display: inline-block;
    margin-top: -3px;
    vertical-align: top;
}
table center{
	text-align:right;
}
/*
|-----------------------------------------------------------------------------
| ALERTAS
|-----------------------------------------------------------------------------
*/
.alert {
    background-image: none;
    border: medium none;
    border-radius: 0;
    box-shadow: 0 0;
    text-shadow: 0 0;
}
.alert.error {
    background-color: #F35958;
    background-image: none;
}
.alert.warning {
    background-color: #EB9316;
    background-image: none;
}
.alert.success {
    background-color: #0AA699;
    background-image: none;
}
.alert.info {
    background-color: #31C5DA;
    background-image: none;
}

.alert p {
    color: #FFFFFF;
    font-weight: 600;
    text-shadow: 0 0;
}
.no_data{
	-background-color:#0090D9;
	border: 1px solid #0090D9;
	border-radius:0;
	color:#0090D9;
	text-shadow:0 0;
}
.no_data a{
	color:#fff;
	text-decoration:underline;
}
.no_data a:hover{
	color:#fff;
	text-decoration:none;
}
/*
|-----------------------------------------------------------------------------
| CHECKBOX
|-----------------------------------------------------------------------------
*/
.ez-checkbox {
    background-position:0 0;
	width:17px;
	height:17px;
	cursor:pointer;
}
.ez-checked {
    background-position: 0 -17px;
}
.ez-hide {
    cursor: pointer;
    height: 17px;
    margin: 0;
    width: 17px;
}
.ez-radio {
    background-position: 0 0;
    display: inline-block;
    height: 17px;
    margin: -4px 0 0;
    vertical-align: middle;
    width: 17px;
}
.ez-selected {
    background-position: 0 -17px;
}
body #expires_interval_chzn {
    left: 250px;
    top: -97px;
}
/*
|-----------------------------------------------------------------------------
| FORMULARIOS
|-----------------------------------------------------------------------------
*/
.uneditable-input,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
body input#file-search {
    background-color: #FFFFFF;
    border: 1px solid #E5E9EC;
    border-radius: 2px;
    box-shadow: none !important;
    filter: none !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    height: 16px;
    line-height: 15px;
    min-height: 23px;
    padding: 6px 11px !important;
    transition: background 0.2s linear 0s, box-shadow 0.2s linear 0s;
    vertical-align: top;
	color:#555555;

}
.uneditable-input.focus,
textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.m-uneditable-input:focus,
body input#file-search:focus {
    background-color: #F4F5F7;
    border-color: #E5E9EC;
    box-shadow: none;
    outline: 0 none !important;
	color:#555555;
}
label {
    color: #55606E;
    font-size: 14px;
    margin-top: 5px !important;
}
label.radio {
    color: #55606E;
    display: block;
    font-size: 14px;
    margin-bottom: 6px;
    margin-top: 17px !important;
}
body .form_inputs input,
body .form_inputs textarea {
}
body .form_inputs textarea{
	height: auto;
    width: 90%;
}
/* Selects */
body .chzn-container .chzn-single span, .chzn-container li {
    color: #444444;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 400;
}
body .chzn-container-single .chzn-single div {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-left: 0 none;
    border-radius: 0;
    display: block;
    width: 33px;
}
body .chzn-container-single .chzn-single {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #E5E9EC;
    border-radius: 2px;
    box-shadow: 0 0;
    color: #444444;
    height: 35px;
    line-height: 35px;
    margin-top: 1px;
}
body .input > span{
	display: inline-block;
    margin-top: 13px;
    vertical-align: middle;
}
body .chzn-container-single .chzn-single div b{
	background-image:url("../../img/select-arrow.png");
	width:33px;
	height:33px;
	background-position:top;
}
body .chzn-container-active .chzn-single-with-drop div b{
	background-position:bottom;
}
body .chzn-container-multi .chzn-choices {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #E5E9EC;
}
body .chzn-container-active .chzn-choices {
    border: 1px solid #E5E9EC;
    box-shadow: 0 0;
	background-color: #F4F5F7;
}
body .chzn-container-multi .chzn-choices .search-choice{
	background-color: #AAAAAA;
    background-image: none;
    border: 0 none;
    border-radius: 2px;
    color: #FFFFFF;
    float: left;
    line-height: 18.2px;
    padding: 3px 20px 3px 10px;
    text-shadow: 0 0;
}
body .chzn-container-multi .chzn-choices .search-choice .search-choice-close,
body .chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
    background: url("../../img/close-white.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: block;
    font-size: 1px;
    height: 7px;
    position: absolute;
    right: 4px;
    top: 9px;
    width: 7px;
}
/* Multilist */

body .multiple_list li span {
    background-color: #AAAAAA;
    background-image: none;
    border-radius: 2px;
    float: left;
    text-shadow: 0 0;
	border:0;
}

body .multiple_list li.dds_selected span {
    background-color: #31c5da !important;
    background-image: none;
    border: 0;
    text-shadow: 0 0;
}

/* Inline form */
.inline-form ul > li > label {
    display: inline-block !important;
    float: left !important;
    width: 20% !important;
}
.inline-form ul > li > .input {
    display: inline-block !important;
    width: 70% !important;
}
.inline-form ul > li > .input > .disabled {
	filter:alpha(opacity=50) !important;
	-moz-opacity:50 !important;
	-khtml-opacity: 50 !important;
	opacity: 0.5 !important;
}
.pre-input{
	display: inline-block;
    margin-right: 10px;
    margin-top: 13px;
    vertical-align: middle;
}
.post-input{
	display: inline-block;
    margin-left: 10px;
	margin-right: 10px;
    margin-top: -29px;
    vertical-align: middle;
}
.required-icon {
    display: inline-block;
    margin-left: 10px;
    margin-top: 13px;
}
body textarea.attribute {
    min-height: 23px !important;
    overflow: hidden;
    resize: none;
    width: 93% !important;
}

body #site_public_lang .type-checkbox {
    padding-right: 0 ;
}
body .type-checkbox label{
	display:block;
}
body .type-checkbox .ez-checkbox{
    display: inline-block;
    margin-top: 0;
    vertical-align: top;
}

body #title,
body #slug {
    min-width: 90% !important;
}
/*
|-----------------------------------------------------------------------------
| Sortable list
|-----------------------------------------------------------------------------
*/
body .sortable li {
    margin: 5px 0;
    padding-left: 26px;
}
body .sortable li div {
    background: url("../../../themes/pyrocms/img/icons/drag_handle_dark.gif") no-repeat scroll 99% 5px #D9E0E4;
    border-radius: 3px;
    cursor: move;
    margin: 0;
    padding: 5px 1px 5px 10px;
}
body .sortable li div:hover{
	background-color:#d1dade;
}

body #page-list a,
body #category-sort a,
body #link-list a{
    background: url("../ezmark/images/radio.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    color: #6F7B8A;
    display: block;
    font-family: "Helvetica Neue",​Helvetica,​Arial,​sans-serif;
    font-size: 13px;
    font-weight: bold;
    height: 16px;
    padding: 0 1px 1px 25px;
    text-decoration: none;
	cursor: move;
}
body #page-list a.selected,
body #category-sort a.selected,
body #link-list a.selected {
    background: url("../ezmark/images/radio.png") no-repeat scroll left bottom rgba(0, 0, 0, 0);
    color: #000000;
}
body #page-list a:hover,
body #category-sort a:hover,
body #link-list a:hover{
	text-decoration:none;
	color:#505458;
}


body #available-widgets ul li {
    background-color: #D9E0E4;
    border: 0 none;
    border-radius: 3px;
    color: #6F7B8A;
    font-family: "Helvetica Neue",​Helvetica,​Arial,​sans-serif;
    margin: 0 0 5px;
    padding: 10px;
    position: relative;
}
body #available-widgets ul li:hover{
	background-color: #d1dade;
	color: #505458;
}
body .plus {
    background: url("../../img/more.png") no-repeat scroll 0 4px rgba(0, 0, 0, 0);
}
body .minus {
    background: url("../../img/less.png") no-repeat scroll 0 4px rgba(0, 0, 0, 0);
}
/*
|-----------------------------------------------------------------------------
| TABS
|-----------------------------------------------------------------------------
*/
.tab-menu li{
	margin-right:8px;
	margin-left:2px;
}
.tab-menu li a {
    background: none;
    border-left: 0 none;
    border-radius: 0;
    border-right: 0 none;
    border-top: 0 none;
    -color: #0D638F;
    font-family: "Helvetica Neue",​Helvetica,​Arial,​sans-serif;
    font-size: 13px;
    font-weight: normal;
    padding: 8px 12px;
	line-height: 1.42857;
}
.tab-menu li a:hover{
	color:#505458;
	background: none;
}
.tab-menu > li.ui-state-active > a,
.tab-menu > li.ui-state-active > a:hover,
.tab-menu > li.ui-state-active > a:focus {
	-background-color: #0090D9 !important;
    border-top: 1px solid #efefef;
    border-right: 1px solid #efefef;
    border-left: 1px solid #efefef;
    color: #555 !important;
    display: block;
}



/*
|-----------------------------------------------------------------------------
| Filtros
|-----------------------------------------------------------------------------
*/
section#content #filters > form > ul > li ,
section#content #filters  > ul > li {
	float: left;
    margin: 20px 1% 5px 0;
}
section#content .two > form > ul > li,
section#content .two > ul > li {
    width: 49%;
}
section#content .three > form > ul > li ,
section#content .three > ul > li {
    width: 32%;
}
section#content .four > form > ul > li,
section#content .four > ul > li {
    width: 24%;
}
section#content #filters ul li  .chzn-container {
    max-width: 100% !important;
    width: 100% !important;
}
section#content #filters ul li .btn {
    float: left;
    margin-top: 30px;
}
body .ui-slider .ui-slider-range {
    background: none repeat scroll 0 0 #31C5DA;

}
label.inv{

}
body #filters form > ul > li input[type="text"] {
    margin: 6px 0;
    width: auto;
}
.widget-box p{
 margin:0;
}
/*
|-----------------------------------------------------------------------------
| VISTAS
|-----------------------------------------------------------------------------
*/
/* Dashboard */
.full-width{
	clear: both;
    float: none;
    height: auto;
    margin-bottom: 25px;
    width: 100%;
}
.full-width section.item {
    float: none;
}
body #sortable .one_half:nth-child(2n+1):after {
    height: auto;
}
body #sales_graph {
    width: 100%;
}
body #sales_graph .base{
	width: 100% !important;
}
body .one_full {
    width: 100%;
}
/* Archivos */
#file-toolbar .btn{
	margin: 0;
}
body #file-toolbar input#file-search {
	min-height: 14px;
}

body section.file-path {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 0;
    border-top: 1px solid #E5E5E5;
    box-shadow: 0 0;
}

/* Moneda */
body button.mod {
    margin: 5px 3px 0 0;
}

/*
|-----------------------------------------------------------------------------
| FOOTER
|-----------------------------------------------------------------------------
*/
footer {
    background: none repeat scroll 0 0 #4C525E;
    border-top: 0 none;
    box-shadow: 0 0;
    color: #858585;
    height: 40px;
    margin-top: -40px;
    padding: 0;
    width: 100%;
}

footer p.credits {
    color: #858585;
    margin: 10px 0 0;
}

footer p.credits span {
    color: #858585;
    text-shadow: 0 0;
}
footer ul#lang {
    margin-top: 5px;
    text-align: left;
}
body ul#lang  .chzn-container-single .chzn-single {
    height: 27px;
    line-height: 26px;
}
body ul#lang .chzn-container .chzn-single div b {
    background-image: url("../../img/select-arrow.png");
    background-position: center -3px;
}
body ul#lang .chzn-container .chzn-single-with-drop div b {
    background-position:center -37px;
	background-image:url("../../img/select-arrow.png");
}
body ul#lang .chzn-container {
    margin: 1px 2px 1px 0;
}

footer .wrapper{
	padding:0 26px !important;
}
.footer-autor {
    float: none;
    height: 34px;
    line-height: 41px;
    margin: -9px auto 0;
    position: relative;
    width: 220px;
}
.footer-autor #ahorranito2 {
    background: url("http://www.imaginamos.com/derechos_autor_gris/ahorranito-2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 22px;
    margin: 9px 10px 0 0;
    width: 21px;
}
.footer-autor a {
    color: #fff;
    float: left;
    font-size: 11px;
    font-weight: 500;
    text-decoration: none;
}
.footer-autor a:hover {
    color: #fff;
    text-decoration: underline;
}
.footer-autor a span {
    color: #1D9AD4;
}
.footer-autor div {
    color: #788D97;
    float: left;
    margin: 0 2px;
}
.main-content .footer-autor {
    float: left;
    margin: -1px auto 0;
}
/*
|-----------------------------------------------------------------------------
| MEDIA QUIERIES
|-----------------------------------------------------------------------------
*/
@media screen and (max-width:768px){
    .wrapper {
		display: block;
		height: auto;
		padding: 0 20px;
		position: relative;
	}
	.topbar nav {
		margin-top: 0;
	}
	.topbar ul {
		padding-left: 0 !important;
	}
	.main-active {
		width:100% !important;
	}
	.main-active .subbar{
		width:100% !important;
		left:250px;
	}
	.main-active .sections_bar{
		width:100% !important;
		left:250px;
	}
	.main-content .sections_bar{
		display:none;
	}
	.main-content section#content {
		margin: 90px 0 70px !important;
	}
	/* Header */

	.has-second-nav .second-nav-btn{
		display:block;
	}
	.subbar-inner #shortcuts{
		display:none;
	}

	/* Formularios */
	body ul.width-half {
		display: block;
		float: none;
		width: 100% !important;
	}
	.input iframe{
		width:100%;
	}
	/* Filters */
	section#content #filters ul li {
		float: none;
		margin-right: 0;
		margin-top: 20px;
		width: 100%;
	}
	section#content #filters ul li .btn {
		margin-top: 0;
	}
	/* Tablas */
	.scroll-table-wide{
		max-width: 660px;
	}
	body table .actions a {
		display: inline-block;
	}

	/* footer */
	footer {
		height: auto;
		min-height: 40px;
		text-align: center;
	}
	footer form {
		margin: 0;
		text-align: center;
	}
	.main-content .footer-autor {
		float: none;
	}
	body ul#lang .chzn-container {
		width: 100% !important;
	}
}
@media screen and (max-width:480px){
	.topbar-form {
		width: 170px;
	}
	.topbar-search .search-query,
	.topbar-search .search-query:focus{
		width: 114px;
	}
	body a.toggle, body a.show-filter {
		margin-top: -20px;
	}
	/* Formularios */
	.inline-form ul > li > label {
		float: none !important;
		width: 100% !important;
		margin-left:0 !important;
	}
	.inline-form ul > li > .input {
		display: inline-block !important;
		width: 100% !important;
	}
	#tabs .inline-form ul > li > label {
		float: none !important;
		width: 100% !important;
		margin-left:0 !important;
	}
	#tabs .inline-form ul > li > .input {
		display: inline-block !important;
		width: 100% !important;
	}
	#tabs .form_inputs fieldset {
		width: 100%;
	}

	body #title, body #slug {
		min-width: 87% !important;
		width: auto !important;
	}

	.form_inputs .input > input {
		min-width: 87% !important;
	}

	body .form_inputs input,
	body .form_inputs textarea {
		width: 90%;
	}
	body .input > span {
		display: block;
	}

	body .form_inputs fieldset {
		width: auto;
	}
	.post-input {
		margin-top: 0;
	}
	/* Archivos */

	body #file-toolbar {
		float: none;
		margin: 13px;
	}
	body #folders-sidebar {
		border-right:0;
		padding-bottom: 30px !important;
		height:auto;
	}
	body section.side {
		float: left;
		height: auto;
		width: 100%;
	}

	body section.center {
		float: none;
		width: 100%;
	}
	/* Navegacion*/

	body section.title h4 {
		display: block;
	}
	body section.title li .button {
		float: none;
		margin: 14px 5px 0 5px;
	}
	/* Botones */
	.buttons .btn{
		display:block;
	}

	.buttons button.btn {
		width: 98%;
	}
	/* Tablas */
	.scroll-table-wide{
		max-width: 400px;
	}
}
@media screen and (max-width:320px){
	/* Tablas */
	.scroll-table-wide{
		max-width: 270px;
	}
}