@font-face {
	font-family: 'tartine_script_blackregular';
	src: url('../font/tartinescriptblack-webfont.eot');
	src: url('../font/tartinescriptblack-webfont.eot?#iefix') format('embedded-opentype'), url('../font/tartinescriptblack-webfont.woff2') format('woff2'), url('../font/tartinescriptblack-webfont.woff') format('woff'), url('../font/tartinescriptblack-webfont.ttf') format('truetype'), url('../font/tartinescriptblack-webfont.svg#tartine_script_blackregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.container {
	width: 100% !important;
	padding: 0 20px;
	max-width: 1100px;
}

section {
	position: relative;
	background: white;
}

section:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 10%;
	height: 1px;
}


/* -- HEADER -- */

header {
	box-shadow: none;
}

.myHeader .headerx .logo {
	height: 90px
}

.myHeader nav {
	margin-top: 35px
}

header.fixed {
	z-index: 9999
}

.headerx {
	background: white;
	box-shadow: 2px 0 2px 3px rgba(0, 0, 0, 0.08);
	-webkit-box-shadow: 2px 0 2px 3px rgba(0, 0, 0, 0.08);
}

.headerx {
	border-top: none
}

.headerx .logo {
	height: 120px;
	background-position: center center;
	margin: 5px auto;
}

nav {
	text-align: center;
	margin-top: 50px;
}

nav a {
	border: none;
	letter-spacing: .5px;
	color: #000;
	margin: 0 6px
}

nav a::before {
	left: 50%;
	background: #000;
}

nav a:hover,
nav a:focus {
	border: none;
	color: white;
}

.headerx nav a:hover,
.headerx nav a:focus {
	color: #000;
}

nav a:hover:before {
	left: 0;
}


/* -- BANNER -- */

section.banner {
	top: 0;
	height: 80vh;
	margin-top: 100px;
	position: relative
}

.mySlide {
	height: 80vh;
	background-position: top center
}

.mySlide::before {
	background: transparent
}

.mySlide .caption {
	width: 90%;
	right: 5%;
	text-align: left
}

.mySlide .caption h2 {
	margin-top: 20%;
	font-weight: 500;
	background: transparent;
	width: 40%;
	color: #523516;
	padding: 20px 0;
	font-family: 'tartine_script_blackregular';
	text-transform: capitalize
}

.banner .bx-wrapper .bx-pager.bx-default-pager a {
	width: 12px;
	height: 12px;
	margin: 0 5px;
	background: transparent;
	border: thin solid rgba(666, 666, 666, .8);
}

.banner .bx-wrapper .bx-pager.bx-default-pager a.active,
.banner .bx-wrapper .bx-pager.bx-default-pager a:hover {
	background: #000;
}

.fili img {
	margin: 10px auto;
}

section.logos .fili img {
	margin: 10px auto;
}

.social a:nth-of-type(1) {
	background: #EFD5B9
}

.social a:nth-of-type(2) {
	background: #EFD5B9
}

.social a:nth-of-type(2):hover {
	background: #EFD5B9
}

.social a:nth-of-type(3) {
	background: #EFD5B9
}

.social a:nth-of-type(3):hover {
	background: #EFD5B9
}

.social a:nth-of-type(4) {
	background: #EFD5B9
}

.social a:nth-of-type(4):hover {
	background: #EFD5B9
}

.social a i {
	color: #523516
}


/* -- ABOUT -- */

.lined {
	position: relative;
}

.lined:after {
	content: "";
	width: 100%;
	height: 4px;
	background: #e1e1e1;
	max-width: 100px;
	margin: 0 auto;
	display: none;
}

section.logos {
	margin-top: 0;
	padding: 60px 0;
	background-color: white
}

section.logos h2 {
	font-weight: 500 !important;
	text-transform: capitalize;
	color: #D4AD6A;
	font-size: 3rem;
	font-family: 'tartine_script_blackregular';
}

.logos .cite,
.aboutp .cite,
.recetas .cite {
	max-width: 450px;
	font-size: 4rem;
	line-height: 1.3;
	font-weight: 600;
	margin: 0 auto;
	color: #000;
	text-transform: capitalize;
	font-family: 'tartine_script_blackregular';
	text-align: center;
}

.logos .cite span {
	display: block;
	padding: 20px 0 0 0;
	font-family: 'Droid Serif';
	font-weight: 700;
	font-size: 15px;
}

.logos p {
	line-height: 1.5;
	text-align: justify;
	font-size: 15px;
	padding: 0 50px
}

section.logos img {
	height: auto
}

.logos figure {
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 300px;
	width: 100%;
	display: inline-block;
	position: relative;
	overflow: hidden
}

.logos.af h3,
.receta h3 {
	text-align: center;
	padding: 20px 0;
	text-transform: uppercase;
	color: #523516;
	font-weight: 600;
	font-size: 2rem
}

.logos.af p {
	padding: 0 15px;
}

.logos.af article {
	height: auto;
	width: 33%;
	display: inline-block;
	margin-top: 40px
}

section.logos.af img {
	height: auto;
	display: block;
	width: 90%;
	margin: 0 auto;
	cursor: none
}

.logos figure .table {
	position: absolute;
	bottom: -100%;
	transition: 0.5s;
}

.logos figure .table img {
	width: 75%
}

.logos figure:hover .table {
	bottom: 0px
}


/* -- MARCAS -- */

section.carousel {
	position: relative;
	background: white;
	padding-top: 80px;
}

section.carousel figure {
	border: 0;
	border-radius: 0;
}

section.carousel h2,
section.marcas h2 {
	font-weight: 700;
	text-transform: capitalize;
	color: #000;
	font-size: 4rem;
	font-family: 'tartine_script_blackregular';
}

section.carousel p {
	text-align: center;
	font-size: 4rem;
	line-height: 1.3;
	font-weight: 600;
	margin: 0 auto;
	color: black;
	margin-bottom: 20px;
	text-transform: uppercase
}

.text ul li::before {
	display: none;
}

section.carousel i {
	opacity: 1;
	font-size: 2rem;
	color: #EFD5B9;
}

section.carousel img {
	width: 100%;
	height: auto;
	margin-top: 0px;
}

section.carousel .text i {
	position: absolute;
	left: 0
}

section.carousel .text ul li {
	padding: 0 0 0 40px;
}

section.carousel .text ul li .icon {
	position: absolute;
	left: 0;
}

section.carousel .text ul li .icon img {
	width: 20px;
	height: 20px
}

section.carousel h3 {
	color: #523516;
	text-align: left;
	margin: 10px 0
}

section.carusel .bxdress figure {
	background-position: center center;
	background-size: cover;
	background-color: transparent
}

section.carousel figure {
	height: 100px;
	width: 320px
}

.bxctr a:nth-of-type(4) {
	display: none
}

.bxctr a:nth-of-type(3) {
	display: none
}

section.marcas {
	padding: 30px 0;
	z-index: 999
}

section.marcas figure {
	height: 100px;
	width: 160px;
	text-align: center;
	margin: 0 auto 0;
}

section.marcas figure img {
	height: 45px;
	width: 160px;
	transition: all 0.4s;
	margin-top: 17px;
	display: inline-block;
	vertical-align: top;
	white-space: normal;
}

section.marcas h2 {
	text-align: center;
	margin-bottom: 40px;
}

section.areas {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover
}

section.areas h2 {}

section.data .cite {
	max-width: 500px;
	margin-bottom: 30px
}


/* -- PRO --*/

section.logos.af,
section.areas {
	margin-top: 0;
	padding: 80px 0;
}

section.logos.af .lined:after,
section.areas .lined:after {
	margin-top: 25px;
}

section.logos h2 {
	font-size: 35px;
	font-weight: 300;
	margin-bottom: 35px;
}

section.logos h2 strong {
	font-weight: 400;
	color: #b71a8b;
}

section.logos img {
	margin: 0
}

section.af a {
	font-size: 14px;
	text-align: left;
	float: left;
	margin-top: 35px;
	padding: 10px 15px;
	background: rgba(255, 255, 255, .4);
	border: thin solid white;
}

section.af a i {
	margin-left: 15px;
}

section.aboutp {
	z-index: 999;
	padding: 50px 0
}

section.data.logos {
	background-color: #fff
}

section.aboutp figure {
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 260px;
	height: 260px;
	border-radius: 100%;
	margin: 0 auto
}

section.aboutp .cite {
	max-width: 100%;
	text-align: center;
	margin-top: 20px
}

section.aboutp .cite .strong {
	font-weight: 800
}


/* -- TIENDA -- */

section.logos.areas {
	margin-top: 0;
}

.bxdress figure {
	padding-top: 150%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.bxdress li {
	padding: 0 5px;
	position: relative;
}

.bxdress .over {
	background: rgba(0, 0, 0, .7);
	color: white;
	text-align: center;
	font-size: 20px;
	position: absolute;
	bottom: 20px;
	width: 80%;
	left: 10%;
	padding: 25px 15px;
	opacity: 0;
	transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transition: all .3s linear;
}

.bxdress li:hover {
	cursor: pointer;
}

.bxdress li:hover .over {
	opacity: 1;
	transform: scale(1);
	-webkit-transform: scale(1);
}

.bxctr {
	text-align: left;
	padding: 5px;
}

.bxctr a {
	vertical-align: middle;
	display: inline-block;
	height: 30px;
	width: 30px;
	background: rgba(183, 26, 139, .85);
	border-right: thin dotted #ddd;
	position: relative;
	transition: all .3s linear;
}

.bxctr a:last-child {
	border: none;
}

.bxctr a:after {
	content: " ";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 10px;
	height: 10px;
	border: 2px solid #fff;
	transform-origin: center;
	transform: translate(-50%, -50%) rotate(45deg);
	overflow: hidden;
	border-width: 0 0 thin thin;
	transition: all .2s linear;
}

.bxctr a.bx-prev:after {
	border-width: thin thin 0 0;
}

.bxctr a:hover {
	background: #333;
}


/* -- CITA -- */

section.data {
	background: white;
	padding: 100px 0 !important
}

section.data img {
	margin: 0;
}

.data li {
	margin: 0 10px;
	text-align: left;
	width: 40%;
	display: inline-block;
}

.collapsible {
	box-shadow: none
}

.collapsible-header {
	border-bottom: none;
	font-size: 1.6rem
}

.collapsible-body {
	border-bottom: none
}

.data ul {
	border: thin dotted #EFD5B9;
	margin-bottom: 10px;
	padding: 20px 0;
}

.data li i {
	width: 50px;
	margin-right: 15px;
	color: #523516;
	text-align: center;
	font-size: 1.8rem
}

.data i + div {
	display: inline-block;
	vertical-align: middle;
	font-size: 1.8rem
}

.data li span {
	display: block;
	line-height: 1.5;
}

section.data.af a {
	float: none;
	margin-top: 0;
	padding: 10px
}


/* -- FORMULARIO -- */

section.formu .cite {
	max-width: 550px
}

section.formu .btn {
	background: #523516 !important
}

.input-field input[type=text],
textarea {
	color: #333 !important;
	font-size: 14px !important;
	line-height: 1;
	padding: 23px 20px;
}

.input-field input[type=text]:focus,
textarea:focus {
	background: white;
	box-shadow: none;
	border: thin solid rgba(183, 26, 139, 1);
}

.input-field input[type=text],
textarea {
	background: white;
	border: thin solid rgb(221, 221, 221);
}

textarea {
	min-height: 100px;
	height: auto;
	margin-bottom: 25px;
	resize: none;
}


/* label color */

.input-field label {
	color: #bdbdbd;
	font-size: 14px;
	line-height: 1;
	padding: 20px;
	top: 0;
	font-weight: 300;
}


/* label focus color */

.input-field input[type=text]:focus + label,
.input-field input[type=text].valid + label,
.input-field input[type=text].invalid + label,
.input-field label.active {
	display: none;
}


/* valid color */

.input-field input[type=text].valid {
	border-bottom: 0;
	box-shadow: 0 1px 0 0 #000;
}


/* invalid color */

.input-field input[type=text].invalid {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}

#contact .waves-button-input {
	background: none;
	border: none;
	color: white;
}


/* -- FOOTER -- */

footer,
.postFooter {
	background: #EFD5B9;
}

.copyright,
.ahorranito {
	font-size: 12px;
	color: black !important;
}

.copyright span {
	color: #523516;
}

.postFooter .ahorranito a {
	color: black
}

.postFooter .ahorranito {
	margin-bottom: 0;
	text-align: left
}

.ahorranito .ahorranito-icon {
	width: 22px;
	height: 22px;
	margin-right: 10px;
}


/* MENU RESPONSIVE */

#sidenav-overlay {
	z-index: 999
}

.button-collapse i {
	color: black;
}

.button-collapse {
	margin-top: 3%
}

@media screen and (max-width: 108px) {
	nav a {
		margin: 0 5px
	}
}

@media screen and (max-width: 768px) {
	section.carousel figure {
		width: 100%;
		height: 100%
	}
	section.data ul {
		margin-top: 40px
	}
	.mySlide .caption h2 {
		margin-top: 60%
	}
	section.carousel img {
		margin: 20px 25%
	}
	.data li i {
		margin-right: 0
	}
}

@media screen and (max-width: 420px) {
	.bxdress .over {
		bottom: 0;
		padding: 10px;
		font-size: 8px
	}
	#map_canvas {
		width: 100% !important;
	}
	.postFooter .copyright {
		text-align: center;
		float: none !important
	}
	.postFooter .ahorranito {
		text-align: center
	}
	.data i + div {
		width: 65%;
		line-height: 120%
	}
	section.carousel img {
		margin: 0px 2%
	}
	.logos.af article {
		width: 100%
	}
	.logos figure {
		height: auto;
		margin-bottom: 20px
	}
	.data li {
		display: block
	}
	section.data ul {
		word-wrap: break-word
	}
	.logos p {
		padding: 0
	}
}

.receta video {
	width: 100%;
	height: auto;
	max-width: 100%;
	margin-bottom: 10px;
}

.receta img {
	width: 100%;
	height: auto;
	max-width: 100%;
	border: thin solid #ccc;
	margin-bottom: 10px;
}

.recetas {
	padding: 80px 0;
	background: #f9f9f9;
	text-align: center;
}

.recetas a {
	color: #523516;
	background: url(../img/icon-recetas.png) no-repeat top center;
	background-size: 16%;
	padding-top: 30px;
	display: block;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase
}

.recetas a:hover {
	color: #523516;
}

.recetas .cite {
	margin-bottom: 60px
}

.recetas:nth-of-type(even) {
	background: #ffffff;
}

.modal h3 {
	font-size: 2.4rem;
	line-height: 1.3;
	font-weight: 600;
	margin: 0 auto;
	color: #000;
	text-transform: capitalize;
	font-family: 'tartine_script_blackregular';
	text-align: center;
	color: #523516;
}

.modal .btn {
	background: #523516 !important;
}

.modal .text ul li {
	background: url(../img/icon-recetas.png) no-repeat top left;
	background-size: 12%;
	padding: 0 0 0 40px;
	font-size: 1.3rem;
}